
# ignoring Visual Studio files
GameProject.sln
GameProject.vcxproj.filters
GameProject.vcxproj
GameProject.vcxproj.user
.vs
x64

# ignoring AssetSources file
AssetSources.txt

# ignore SDL source files
SDL2-2.26.5